NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_API_VERSION=

PUBLIC_URL

NEXT_PUBLIC_DEFAULTAUTH=
NEXT_PUBLIC_SKIP_BUILD_AUTH=

# Firebase configuration
NEXT_PUBLIC_APIKEY=
NEXT_PUBLIC_AUTHDOMAIN=
NEXT_PUBLIC_PROJECTID=
NEXT_PUBLIC_STORAGEBUCKET=
NEXT_PUBLIC_MESSAGINGSENDERID=
NEXT_PUBLIC_APPID=
NEXT_PUBLIC_MEASUREMENTID=

GENERATE_SOURCEMAP=
